﻿@using Marketing.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Perusahaan Kerjasama</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Kode" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Alamat" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Telp</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Phone" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Fax</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoFax" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            Active
                                            <input type="checkbox" name="Aktif" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#detailplafon" aria-controls="home" role="tab" data-toggle="tab">Detail Plafon</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="detaildepartermen" class="tab-pane active">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detaildepartermen">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="itablelookupdetaildepartermen.openmodal()"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Departemen</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Kode'].value = r.Data.Kode;
                    t['Nama'].value = r.Data.Nama;
                    t['Alamat'].value = r.Data.Alamat;
                    t['Phone'].value = r.Data.Phone;
                    t['NoFax'].value = r.Data.NoFax;
                    t['Aktif'].checked = r.Data.Aktif;

                    if (r.Data.NoAkun) {
                        const option = new Option(`${r.Data.NoAkun} - ${r.Data.AkunNama}`, r.Data.NoAkun, true, true);
                        $(t['Section']).append(option);
                    }

                    // detail
                    isetup.DetailPlafonClave = [];
                    $(t).find('.detaildepartermen tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbodydetaildepatermen(
                            value.Nama,
                            value.Nama,
                        );
                    });
                    //$(t).find('.input-detail tbody').html('');
                    //$.each(r.Detail, function (index, value) {
                    //    isetup.adddetailbody(
                    //        value.Nama,
                    //    );
                    //});

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        //$(isetup.form['Nama']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                isetup.DetailPlafonClave = [];
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        Alamat: t['Alamat'].value,
                        Phone: t['Phone'].value,
                        NoFax: t['NoFax'].value,
                        Aktif: t['Aktif'].checked,
                        //Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                        //    return {
                        //        Nama: $(value).find('.Nama').val()
                        //    }
                        //})
                        Detail: $.map($(t).find('.detaildepartermen tbody tr'), function (value) {
                            return {
                                Nama: $(value).find('.Departemen').val(),
                            }
                        }),
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
             
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });
        isetup.DetailPlafonClave = [];
        isetup.adddetailbodydetaildepatermen = (id, departemen, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detaildepartermen tbody tr[data-id="' + id + '"]').length) {
                alerterror(Id + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td><input type="text" class="form-control all-readonly Departemen" value="' + id + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detaildepartermen tbody').append(_detail);

        };

    });
</script>