﻿@using Marketing.Helper
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Kontrak MCU</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode Perusahaan</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" name="CustomerID" class="form-control hidden" />
                                            <input type="text" name="Active" class="form-control hidden" value="1"/>
                                            <input type="text" name="Kode_Customer" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupperusahaan.openmodal()"><i class="icon-search4"></i></button>
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default view-disabled" onclick="itablelookupperusahaan.clear()"><i class="icon-eraser2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Perusahaan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Nama_Customer" class="form-control all-readonly" maxlength="100" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Alamat_1" class="form-control all-readonly" maxlength="100" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Telepon</label>
                                    <div class="col-md-9">
                                        <input type="text" name="No_Telepon_1" class="form-control all-readonly" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Berlaku</label>
                                        <div class="col-md-4">
                                            <input type="date" name="StartDate" class="form-control" required/>
                                        </div>
                                        <label class="col-md-1 control-label">s/d</label>
                                        <div class="col-md-4">
                                            <input type="date" name="EndDate" class="form-control" required/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">MCU</label>
                                    <div class="col-md-9">
                                        <select id="MCUID" name="MCUID" class="form-control clear-create" onchange="getjasapaketmcu()" required>@Html.Raw(HList.Setup_MCU)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Harga Sblm Diskon</label>
                                    <div class="col-md-9">
                                        <input id="HargaSmblmDiskon" type="text" name="HargaSmblmDiskon" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Diskon Total</label>
                                    <div class="col-md-2">
                                        <input id="DiskonTotal" type="number" name="Diskon_Total" min="0" max="100" class="form-control" onchange="hitungdiskon()" />
                                    </div>
                                    <label class="col-md-1 control-label">%</label>
                                </div>
                                <div class="form-group hidden">
                                    <label class="col-md-3 control-label">Diskon Detail</label>
                                    <div class="col-md-9">
                                        <input  id="DiskonDetail" type="text" name="Diskon_Detail" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Harga Stlh Diskon</label>
                                    <div class="col-md-9">
                                        <input id="HargaStlhDiskon" type="text" name="HargaStlhDiskon" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                <div class=" col-md-2 text-bold">Pembayaran</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TUNAI</label>
                                    <div class="col-md-5">
                                        <input id="Tunai" type="text" name="Tunai" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Perusahaan</label>
                                    <div class="col-md-5">
                                        <input id="Perusahaan" type="text" name="Pembayaran_Perusahaan" class="form-control perusahaan" onchange="hitungtotalbayar()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">SHHC</label>
                                    <div class="col-md-5">
                                        <input id="SHHC" type="text" name="SHHC" class="form-control"  onchange="hitungtotalbayar()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TOTAL</label>
                                    <div class="col-md-5">
                                        <input id="Total" type="text" name="Total" class="form-control all-readonly" />
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#mcudetail" aria-controls="home" role="tab" data-toggle="tab">MCU Detail</a></li>
                                <li role="presentation"><a href="#anggota" aria-controls="profile" role="tab" data-toggle="tab">Anggota</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="mcudetail" class="tab-pane active">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailMCUDetail">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                @*<a onclick="itablelookupjasa.openmodal()"><i class="icon icon-plus2"></i></a>*@
                                                            </td>
                                                            <td>ID Jasa</td>
                                                            <td>Nama Jasa</td>
                                                            <td>Harga</td>
                                                            <td style="width:300px;">Section</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="anggota" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailanggota">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="isetup.adddetailbodyanggota('','','','','','','')"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>No Anggota</td>
                                                            <td>Nama</td>
                                                            <td>Gender</td>
                                                            <td>Alamat</td>
                                                            <td>Phone</td>
                                                            <td>Mobile Phone</td>
                                                            <td>Active</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaldetailmcu" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detail Komponen</h4>
            </div>
            <form autocomplete="off" onsubmit="isetup.detailkomponenonsubmit(event);">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td>Komponen</td>
                                                <td class="text-right" style="width:150px;">Harga</td>
                                                
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer view-hide">
                    <button type="button" onclick="isetup.deletedetailkomponen()" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>        

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['CustomerID'].value = r.Data.Customer_ID;
                    t['Kode_Customer'].value = r.Data.Kode_Customer;
                    t['Nama_Customer'].value = r.Data.Nama_Customer;
                    t['Alamat_1'].value = r.Data.Alamat_1;
                    t['No_Telepon_1'].value = r.Data.No_Telepon_1;
                    t['MCUID'].value = r.Data.MCUID;
                    t['StartDate'].value = r.Data.StartDate;
                    t['EndDate'].value = r.Data.EndDate;
                    //t['SebelumDiskon'].value = r.Data.SebelumDiskon;
                    t['Diskon_Total'].value = r.Data.Diskon_Total;
                    t['Diskon_Detail'].value = r.Data.Diskon_Detail;
                    //t['SetelahDiskon'].value = r.Data.SetelahDiskon;
                    t['Tunai'].value = getcurrencyfromfloat(r.Data.Pembayaran_Tunai) || '0';
                    t['Pembayaran_Perusahaan'].value = getcurrencyfromfloat(r.Data.Pembayaran_Perusahaan) || '0';
                    t['SHHC'].value = getcurrencyfromfloat(r.Data.SHHC) || '0';
                    //t['Total'].value = getcurrencyfromfloat(r.Data.Total) || '0';


                    // detail
                    $(t).find('.detailMCUDetail tbody').html('');
                    $(t).find('.detailanggota tbody').html('');
                    isetup.DetailKomponenClave = [];
                    $.each(r.DetailKontrak, function (index, value) {
                        isetup.adddetailbodyMCUDetail(
                            value.IDJasa,
                            value.JasaName,
                            value.Harga_Baru,
                            value.SectionID,
                            value.SectionName
                        );
                    });

                    $.each(r.DetailAnggota, function (index, value) {
                        isetup.adddetailbodyanggota(
                            value.NoAnggota,
                            value.Nama,
                            value.Gender,
                            value.ALamat,
                            value.Phone,
                            value.MobilePhone,
                            value.Active
                        );
                    });

                    isetup.DetailKomponen = r.DetailDetail;

                    isetup.init();

                     if (isetup.form['_PROCESS'].value === 'EDIT') {
                         $(isetup.form['CustomerID']).attr('readonly', 'readonly');
                     }

                    if (isetup.form['_PROCESS'].value === 'VIEW')
                        $('#modaldetailkomponen .view-hide').hide();
                    else
                        $('#modaldetailkomponen .view-hide').show();

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param
                        CustomerID: t['CustomerID'].value,
                        IDJasa: t['MCUID'].value,
                        Harga: getfloatfromcurrency(t['HargaSmblmDiskon'].value),
                        StartDate: t['StartDate'].value,
                        EndDate: t['EndDate'].value,
                        Diskon_Total: t['DiskonTotal'].value,
                        Diskon_Detail: t['DiskonTotal'].value,
                        Pembayaran_Tunai: getfloatfromcurrency(t['Tunai'].value),
                        Pembayaran_Perusahaan: parseFloat(isetup.clave_perusahaan.getRawValue()),
                        Pembayaran_HC: parseFloat(isetup.clave_shhc.getRawValue()),
                        Active: t['Active'].value,

                        detailMCUDetail: $.map($(t).find('.detailMCUDetail tbody tr'), function (value) {
                            return {
                                IDJasa: $(value).find('.IDJasa').val(),
                                SectionID: $(value).find('.Id').val(),
                                Harga: getfloatfromcurrency($(value).find('.harga').html()),
                                //Harga: getfloatfromcurrency(isetup.DetailKomponenClave.find(x => x.id === $(value).data('id')).harga.getRawValue()),
                            }
                        }),
                        Detailanggota: $.map($(t).find('.detailanggota tbody tr'), function (value) {
                            return {
                                IDJasa: $(value).find('.NoAnggota').val(),
                                NoAnggota: $(value).find('.NoAnggota').val(),
                                Nama: $(value).find('.Nama').val(),
                                Gender: $(value).find('.Gender')[0].checked,
                                ALamat: $(value).find('.ALamat').val(),
                                Phone: $(value).find('.Phone').val(),
                                MobilePhone: $(value).find('.MobilePhone').val(),
                                Active: $(value).find('.Active').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                //isetup.init();
                //$(isetup.form).find('.detailMCUDetail tbody').html('');
                //$(isetup.form).find('.detailanggota tbody').html('');
                isetup.form['MCUID'].value = '';
                isetup.init();
            }
        });

        isetup.detailsectionoptions = '@Html.Raw(HList.List_Section)';

        isetup.DetailKomponenClave = [];

        isetup.clave_perusahaan = new Cleave(isetup.form['Perusahaan'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetup.clave_shhc = new Cleave(isetup.form['SHHC'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetup.adddetailbodyMCUDetail = (jasaid, jasanama, harga, sectionid, sectionnama) => {
            if ($(isetup.form).find('.detailMCUDetail tbody tr[data-id="' + jasanama + '"]').length) {
                alerterror(jasanama + ' sudah ada');
                return;
            }

            var mcuid = $('#MCUID').val();
            var _detail = '';
            _detail += '<tr data-id="' + jasaid + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += `<a href="#" onclick="isetup.openmodaldetailmcu('${mcuid}', '${jasaid}')" class="text-info"><i class="icon-eye"></i></a>`;
            _detail += '</td>';

            // input
            _detail += '<td class="td-text jasaid">' + jasaid + '</td>';
            _detail += '<td class="td-text">' + jasanama + '</td>';
            _detail += '<td><input type="text"  class="form-control text-right harga" min="0" onchange="hitungstlhdiskon()"  value="' + getcurrencyfromfloat(harga) + '"  readonly /></td>';
            //_detail += '<td class="td-text text-right harga" min="0" onchange="hitungstlhdiskon()">' + (getcurrencyfromfloat(harga) || '0') + '</td>';
            _detail += `<td><select class="Id" required>${sectionid ? `<option value='${sectionid}'>${sectionid} - ${sectionnama}</option>` : ''}</select></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detailMCUDetail tbody').append(_detail);

            isetup.DetailKomponenClave.push({
                id: jasaid,
                harga: new Cleave($(isetup.form).find('.detailMCUDetail tbody tr:last .harga')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });

            $(isetup.form).find('.detailMCUDetail tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("Sextion", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id + ' - ' + value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
            hitungstlhdiskon();
        };

        isetup.DetailActhive = '';
        isetup.DetailKomponen = [];
        isetup.DetailKomponenClave = [];

        $('#modaldetailmcu').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        isetup.deletedetailkomponen = () => {
            removedetail($(isetup.form).find(`.input-detail tr[data-id="${isetup.DetailActhive}"]`));
            isetup.DetailKomponen = isetup.DetailKomponen.filter(x => x.JasaId != isetup.DetailActhive);
            hitungstlhdiskon();
            $('#modaldetailmcu').modal('hide');
            isetup.DetailActhive = '';
        };

        isetup.openmodaldetailmcu = (mcuid, jasaid) => {
            $('#modaldetailmcu .input-detail tbody').html('');
            isetup.DetailActhive = jasaid;
            isetup.DetailKomponenClave = [];

            //$(isetup.form).find('.detailMCUDetail tbody').find('tr').remove();

            $.ajax({
                url: '@Url.Action("GetJasaPaketMCUKomponen")',
                type: 'POST',
                data: {
                    id: mcuid,
                    jasaid: jasaid
                },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.DetailKomponen = r.DetailKomponen;
                        $.each(r.DetailKomponen, function (index, z) {
                            let tr = ``;
                            tr += `<tr data-id='${z.Id}'>`;
                            tr += `<td class="td-text">${z.Nama}</td>`;
                            tr += `<td><input type='text' ${isetup.form['_PROCESS'].value === 'VIEW' ? 'readonly' : ''} class='form-control text-right Harga' value='${z.Harga}'/></td>`;
                            //tr += `<td><select class="Id" required>${x.SectionID ? `<option value='${x.SectionID}'>${x.SectionID} - ${x.SectionName}</option>` : ''}</select></td>`;
                            //tr += `<td><input type='text' ${isetup.form['_PROCESS'].value === 'VIEW' ? 'readonly' : ''} class='form-control text-right Id' value='${x.SectionID} - ${x.SectionName}'/></td>`;
                            tr += `</tr>`;
                            $('#modaldetailmcu .input-detail tbody').append(tr);
                            if (isetup.form['_PROCESS'].value != 'VIEW') {
                                isetup.DetailKomponenClave.push({
                                    id: z.Id,
                                    harga: new Cleave($('#modaldetailmcu .input-detail tbody tr:last .Harga')[0], {
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand'
                                    }),
                                });
                            }
                        });
                    }
                }

            });

            $('#modaldetailmcu').modal({ backdrop: 'static' });
            $('.modal-backdrop:last').css('z-index', $('#modaldetailmcu').css('z-index') - 1);
        }

        isetup.detailkomponenonsubmit = e => {
            e.preventDefault();
            let jumharga = 0;
            $('#modaldetailmcu .input-detail tbody tr').each((i, v) => {
                const id = $(v).data('id');
                const harga = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).harga.getRawValue()) || 0;
                isetup.DetailKomponen.find(x => x.JasaId === isetup.DetailActhive && x.Id === id).Harga = harga;
                jumharga += harga;
            });
            $(isetup.form).find(`.detailMCUDetail tbody tr[data-id="${isetup.DetailActhive}"] .harga`).val(getcurrencyfromfloat(jumharga) || '0');
            $('#modaldetailmcu').modal('hide');
            hitungstlhdiskon();
        };

        isetup.adddetailbodyanggota = (noanggota, nama, gender, alamat, phone, mobilephone, active, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailanggota tbody tr[data-id="' + noanggota + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + noanggota + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td><input type="text" class="form-control NoAnggota" value="' + noanggota + '" /></td>';
            _detail += '<td><input type="text" class="form-control Nama" value="' + nama + '" /></td>';
            _detail += '<td class="text-center"><select  name="" class="Gender clear-create" >'
                + '<option value="LAKI" ' + (gender == 'LAKI' ? 'selected' : '') + '>LAKI</option>'
                + '<option value="PEREMPUAN" ' + (gender == 'PEREMPUAN' ? 'selected' : '') + '>PEREMPUAN</option>'
                + '</select></td > ';
            _detail += '<td><input type="text" class="form-control ALamat" value="' + alamat + '" /></td>';
            _detail += '<td><input type="text" class="form-control Phone" value="' + phone + '" /></td>';
            _detail += '<td><input type="text" class="form-control MobilePhone" value="' + mobilephone + '" /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Active" ' + (active ? 'checked' : '') + ' /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailanggota tbody').append(_detail);

        };

        $(isetup.form['MCUID']).select2({ allowClear: true, placeholder: "" });
    });
    function hitungstlhdiskon() {
        var r = 0;
        $.each($('.detailMCUDetail tbody tr td:nth-child(4) input'), function (index, value) {
                r += getfloatfromcurrency(value.value) || 0;
        });
        r = Math.ceil(r);
        $("#HargaSmblmDiskon").val(getcurrencyfromfloat(r));
        hitungdiskon();
    }

    function hitungdiskon() {
        var diskontotal = getfloatfromcurrency($("#DiskonTotal").val()) || 0;
        var hargasmblmdiskon = getfloatfromcurrency($("#HargaSmblmDiskon").val()) || 0;

        var jumlahdiskon = hargasmblmdiskon * diskontotal / 100;
        var hargasetelahdiskon = hargasmblmdiskon - jumlahdiskon;
        $("#HargaStlhDiskon").val(getcurrencyfromfloat(hargasetelahdiskon));
        $("#Tunai").val(getcurrencyfromfloat(hargasetelahdiskon));
        $("#Total").val(getcurrencyfromfloat(hargasetelahdiskon));
    }

    function hitungtotalbayar() {
        var hargastlhdiskon = getfloatfromcurrency($("#HargaStlhDiskon").val()) || 0;
        var shhc = parseFloat(isetup.clave_shhc.getRawValue()) || 0;
        var perusahaan = parseFloat(isetup.clave_perusahaan.getRawValue()) || 0;


        var tunai = hargastlhdiskon - shhc - perusahaan;
        $("#Tunai").val(getcurrencyfromfloat(tunai));


    }

    function getjasapaketmcu() {
        $(isetup.form).find('.detailMCUDetail tbody').find('tr').remove();
        var komponen = [];
        $.ajax({
            url: '@Url.Action("GetJasaPaketMCU")',
            type: 'POST',
            data: {
                id: $('#MCUID option:selected').val()
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $.each(r.detailMCUDetail, function (index, value) {
                        isetup.adddetailbodyMCUDetail(
                            value.JasaID,
                            value.JasaName,
                            value.Harga,
                            value.SectionID,
                            value.SectionName
                        );
                    });
                    hitungstlhdiskon();
                }
            }

        });

    }

</script>

