﻿@using Marketing.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nama Asuransi</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Id</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Id" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Alamat" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Phone</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Phone" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Fax</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Fax" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Website</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Website" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kontak Person</label>
                                    <div class="col-md-9">
                                        <input type="text" name="KontakPerson" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TypeAsuransi</label>
                                    <div class="col-md-9">
                                        <select name="TypeAsuransi" class="form-control">
                                            @Html.Raw(HList.Setup_NamaAsuransi_TypeAsuransi)
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['Alamat'].value = r.Data.Alamat;
                    t['Phone'].value = r.Data.Phone;
                    t['Fax'].value = r.Data.Fax;
                    t['Website'].value = r.Data.Website;
                    t['KontakPerson'].value = r.Data.KontakPerson;
                    t['TypeAsuransi'].value = r.Data.TypeAsuransi;

                    isetup.init();

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        Alamat: t['Alamat'].value,
                        Phone: t['Phone'].value,
                        Fax: t['Fax'].value,
                        Website: t['Website'].value,
                        KontakPerson: t['KontakPerson'].value,
                        TypeAsuransi: t['TypeAsuransi'].value,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['TypeAsuransi'].value = '';
                isetup.init();
            }
        });

        $(isetup.form['TypeAsuransi']).select2({ allowClear: true, placeholder: "" });
    });
</script>